*{
    padding: 0;
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
    list-style: none;
    text-decoration: none;
}

header{
    background-color: rgb(56, 49, 49);
    display: flex  ;
    justify-content: space-between;
    align-items: center;
    color: white;
    padding: 6vh;
    overflow: hidden; /*ajusta o texto numa barra de rolagem*/
}

header h1{
    color: white;
    font-size: 45px;
}

header img{
    width: 200px;
    height: 170px;
}

/*NAV*/
#menu-header{  /*nosso menu de navegação*/
    display: flex;
    align-items: center; /*alinha os itens no centro*/
}

#list-menu{  /*nossa lista não ordenada, aqui mudaremos diretamente nossa lista*/
    display: flex;
    margin-right: 1rem;
    

}

header .menu-header nav{
    display: flex;
}

header .menu-header a{
    color: white;
    margin-left: 30px;
}

header .menu-cadastre{
    display: flex;
    align-items: center;
}

header .menu-cadastre img{
    width: 20px;
    height: 20px;
}

header .menu-cadastre a{
    color: white;
    margin-left: 5px;
}

.bloco-01{
    background-image: url(img/back-4.jpg);
    padding: 35vh;
    
    
}

