*{
    padding: 0;
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
    list-style: none;
    text-decoration: none;
}

header{
    background-color: rgb(56, 49, 49);
    display: flex  ;
    justify-content: space-between;
    align-items: center;
    color: white;
    padding: 6vh;
    overflow: hidden; /*ajusta o texto numa barra de rolagem*/
}

header h1{
    color: white;
    font-size: 45px;
}

header img{
    width: 200px;
    height: 170px;
}

/*NAV*/
#menu-header{  /*nosso menu de navegação*/
    display: flex;
    align-items: center; /*alinha os itens no centro*/
}

#list-menu{  /*nossa lista não ordenada, aqui mudaremos diretamente nossa lista*/
    display: flex;
    margin-right: 1rem; /*1 REM equivale a 16px, ou seja, podemos utiliza-lo para facilitar o uso do px*/
}

.item-menu-header{  
    margin-right: 25px;
}

.item-menu-header > a:hover{
    color:yellow;
    transition: 1s;  /*é o tempo que será exibido ao passar o cursor*/
}

.item-menu-header > a{
    color: white;
    text-decoration: none;  /*responsável por tirar o sublinhado inferior que estava visível*/
    font-size: 12px;
}

#btn-header{
    display: flex;
}

#btn-header > button{
    padding: 8px;
    background-color: transparent; /*aqui deixamos o fundo do botão transparente, ou seja, sem o fundo Branco que estava no primeiro plano*/
    border: none;  /*NONE é utilizado para tirar algo, neste caso a borda*/
}

#btn-header > button > a{
    display: flex;
    align-items: center;
}

#btn-header > button > a > img{  /*aqui estamos mexendo no ICON do botão*/
    width: 30px;
    height: 30px;
    margin-right: 2px;
}

#btn-header > button > a{ /*estamos chamando aqui nossa TAG de Link para alteração (NOVAMENTE)*/
    color: white;
    text-decoration: none; /*responsável por tirar o sublinhado que estava visível*/
    font-weight: 400; /*define a espessura da fonte*/
}

.img-padaria{ /*aqui chamamos o ID que criamos no html*/
    padding: 20%; /*cuida do preenchimento*/
    background-image: url(img/paperWall-1.jpg); /*usada para inserir imagens de fundo*/
    background-position: center; /*aqui posicionamos nossa imagem para o centro*/
}

.efeito-img-topo{
    visibility: hidden;
}


/* Diferença entre ID e Class: A diferença entre um id e uma class é que um id é usado apenas para identificar um único elemento em nosso HTML. 
Os identificadores são usados ​​apenas quando um elemento na página precisa ter um estilo específico aplicado a ele. 
No entanto, uma class pode ser usada para identificar mais de um elemento HTML*/


.bloco-01{
    height: 100vh;
    width: 100vw;
    background-image: url(img/01-1920x1080.png);
    background-repeat: no-repeat;
    background-size: cover;
    
}

.bloco-02{
    height: 100vh;
    width: 100vw;
    background-image: url(img/back-clientes-3.png);
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: -50px;
}

.bloco-02 H2{
margin-top: 180px;
    text-align: center;
    font-size: 50px;
}
