*{
    padding: 0;
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
    list-style: none;
    text-decoration: none;
}

header{
    background-color: rgb(56, 49, 49);
    display: flex  ;
    justify-content: space-between;
    align-items: center;
    color: white;
    padding: 6vh;
    overflow: hidden; /*ajusta o texto numa barra de rolagem*/
}

header h1{
    color: white;
    font-size: 45px;
}

header img{
    width: 200px;
    height: 170px;
}

/*NAV*/
#menu-header{  /*nosso menu de navegação*/
    display: flex;
    align-items: center; /*alinha os itens no centro*/
}

#list-menu{  /*nossa lista não ordenada, aqui mudaremos diretamente nossa lista*/
    display: flex;
    margin-right: 1rem; /*1 REM equivale a 16px, ou seja, podemos utiliza-lo para facilitar o uso do px*/
}

.item-menu-header{  
    margin-right: 25px;
}

.item-menu-header > a:hover{
    color:yellow;
    transition: 1s;  /*é o tempo que será exibido ao passar o cursor*/
}

.item-menu-header > a{
    color: white;
    text-decoration: none;  /*responsável por tirar o sublinhado inferior que estava visível*/
    font-size: 12px;
}

#btn-header{
    display: flex;
}

#btn-header > button{
    padding: 8px;
    background-color: transparent; /*aqui deixamos o fundo do botão transparente, ou seja, sem o fundo Branco que estava no primeiro plano*/
    border: none;  /*NONE é utilizado para tirar algo, neste caso a borda*/
}

#btn-header > button > a{
    display: flex;
    align-items: center;
}

#btn-header > button > a > img{
    width: 30px;
    height: 30px;
    margin-right: 2px;
}

#btn-header > button > a{
    color: white;
    text-decoration: none;
    font-weight: 400; /*define a espessura da fonte*/
}

.img-padaria{
    padding: 20%; /*cuida do preenchimento*/
    background-image: url(img/paperWall-1.jpg);
    background-position: center;
}


.efeito-img-topo{
    visibility: hidden;
}